.login__btn {
  min-height: 50px;
  margin: 216px 0 0;
  font-size: 18px;
  line-height: 21.78px;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
}

.login__btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .login__btn {
    margin: 173px 0 0;
    min-height: 46px;
    font-size: 16px;

  }
}
